<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Order Info</div>
      
      <div class="customer-info-container">
         <h3>Customer Information:</h3>
         <ul>
            <li>Name: <span th:utext="${orderInfo.customerName}"></span></li>
            <li>Email: <span th:utext="${orderInfo.customerEmail}"></span></li>
            <li>Phone: <span th:utext="${orderInfo.customerPhone}"></span></li>
            <li>Address: <span th:utext="${orderInfo.customerAddress}"></span></li>
         </ul>
         <h3>Order Summary:</h3>
         <ul>
            <li>Total:
               <span class="total" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">         
               </span>
            </li>
			<li>Status: 
			    <form action="/updateStatus" method="post" style="display: inline;">
			        <input type="hidden" name="orderId" th:value="${orderInfo.id}">
			        <select name="status">
			            <option value="Chưa xác nhận" th:selected="${orderInfo.status == 'Chưa xác nhận'}">Chưa xác nhận</option>
			            <option value="Đã xác nhận" th:selected="${orderInfo.status == 'Đã xác nhận'}">Đã xác nhận</option>
			            <option value="Đang giao" th:selected="${orderInfo.status == 'Đang giao'}">Đang giao</option>
			            <option value="Đã nhận" th:selected="${orderInfo.status == 'Đã nhận'}">Đã nhận</option>
			        </select>
			        <button type="submit">Update</button>
			    </form>
			</li>
         </ul>
		 <ul>
			<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
				<form action="/admin/order/delete" method="post">
				    <input type="hidden" name="orderId" th:value="${orderInfo.id}">
				    <button type="submit" onclick="return confirm('Are you sure you want to delete this order?')">Delete Order</button>
				</form>
			</th:block>
		</ul>
      </div>
      <br/>
      <table border="1" style="width:100%">
         <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Amount</th>
         </tr>
         <tr th:each="orderDetailInfo : ${orderInfo.details}">
            <td th:utext="${orderDetailInfo.productCode}"></td>
            <td th:utext="${orderDetailInfo.productName}"></td>
            <td th:utext="${orderDetailInfo.quantity}"></td>
            <td th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></td>
            <td th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></td>
         </tr>
      </table>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>